@import '../../../app/variables';

.body-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-edit-transaction{
  background-color: $background-color;
  border-radius: 28px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 424px;
  margin: auto;
  color: #1D1B20;

}

.navigation-button {
  background-color: transparent;
  border: none;
  color: $primary-color;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 22px;
}

h2 {
  font-weight: 300 !important;
}

.navigation-button:hover {
  background-color: $nav-button-hover;
}

.navigation-button:active {
  background-color: $nav-button-pressed;
}