@import '../../../app/variables';

.body-modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal {
  background-color: $background-color; /* Cor de fundo do modal */
  border-radius: 28px; /* Cantos arredondados */
  padding: 20px; /* Espaçamento interno */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra do modal */
  max-width: 424px; /* Largura máxima do modal */
  margin: auto; /* Centraliza o modal */
  color: #1D1B20; /* Cor do texto */
}

.button {
  background-color: transparent; /* Fundo transparente */
  border: none; /* Sem borda */
  color: $primary-color; /* Cor do texto em rosa */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  padding: 10px 15px; /* Espaçamento interno do botão */
  font-size: 16px; /* Tamanho da fonte */
  border-radius: 5px; /* Cantos arredondados dos botões */
}

.button:hover {
  text-decoration: underline; /* Efeito ao passar o mouse */
}
  