@import '../../../app/variables';


.custom-input {
  font-family: $custom-font;
  background-color: $background-color !important;

  .MuiOutlinedInput-root {
    font-family: $custom-font !important;
    color: $primary-color;

    & fieldset {
      border-color: $border-color;
    }

    &:hover fieldset {
      border-color: $primary-color;
    }

    &.Mui-focused fieldset {
      border-color: $primary-color;
    }
  }

  .MuiInputLabel-root {
    font-family: $custom-font !important;
    color: $primary-color;

    &.Mui-focused {
      color: $primary-color;
    }
  }

  .MuiInputBase-input::placeholder {
    font-family: $custom-font;
    color: #79747E !important;
  }

  input {
    font-family: $custom-font !important;
    color: #79747E;
  }
}