@import '../../../app/variables';

.input {
  padding: 10px;
  border: 1px solid $primary-color;
  border-radius: 5px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #333;
}

.error {
  border: 1px solid red;
}
