$primary-color: #AB5373;
$secondary-color: #F8EBEE;
$background-color: #FBF5F6;
$border-color: #E4BDC8;
$custom-font: "Poppins", sans-serif;
$nav-button-hover: #F8EBEC;
$nav-button-pressed: #F1DADD;
$tablet_width: 1024px;
$mobile_width: 768px;

