@import '../../../../app/variables';

.header {
  display: flex;
  height: 58px;
  gap: 48px;
  padding: 8px 8%;
  align-items: center;
  background-color: $secondary-color;
  justify-content: space-between;
}

.login {
  display: flex;
  gap: 16px;
  min-width: 0;

}